<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An example how to achieve a endless scroll effect with Wookmark"/>
    <meta name="author" content="Christoph Ono, Sebastian Helzle"/>
    <title>Wookmark API Test</title>
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/waterfall.css"/>
</head>

<body>

<div>
    <header>
        <h1>Masonry Endless Scroll Example</h1>
        <p>Scroll down to see the infinite scroll effect.</p>
        <p><a href="../index.html">Back to overview</a></p>
    </header>

    <div role="main">

        <ul id="container" class="tiles-wrap animated">
            <!-- These is where we place content loaded from the Wookmark API -->
        </ul>

        <div id="loader">
            <div id="loaderCircle"></div>
        </div>

    </div>
</div>
<!-- include jQuery -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../bootstrap/js/bootstrap.min.js"></script>
<!-- Include the imagesLoaded plug-in -->
<script src="../bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
<!-- Include the plug-in -->
<script src="../js/masonry/masonry.pkgd.min.js"></script>

<!-- Once the page is loaded, initalize the plug-in. -->
<script type="text/javascript">
    (function ($) {
        var page = 1,
            firstLoad = true,
            isLoading = false,
            apiURL = 'api/get-shows.json',
            container = '#container',
            $grid = undefined,
            $loaderCircle = $('#loaderCircle'),
            options = {
                itemSelector: '.show',
                columnWidth: 226
            };

        /**
         * When scrolled all the way to the bottom, add more tiles.
         */
        function onScroll(event) {
            // Only check when we're not still waiting for data.
            if (!isLoading) {
                // Check if we're within 100 pixels of the bottom edge of the broser window.
                var closeToBottom = ($(window).scrollTop() + $(window).height() > $(document).height() - 100);
                if (closeToBottom) {
                    loadData();
                }
            }
        };

        /**
         * Loads data from the API.
         */
        function loadData() {
            isLoading = true;
            $loaderCircle.show();
            $.ajax({
                url: apiURL,
                dataType: 'json',
                data: {page: page}, // Page parameter to make sure we load new data
                success: onLoadData
            });
        };
        /**
         * Receives data from the API, creates HTML for images and updates the layout
         */
        function onLoadData(result) {
            var data = result.data;
            isLoading = false;
            $loaderCircle.hide();
            // Increment page index for future calls.
            page++;
            // Create HTML for the images.
            var html = '';
            var i = 0, length = data.length, image;
            for (; i < length; i++) {
                image = data[i];
                html += '<li class="show">';
                html += '<div class="show-menu"><a href="https://baidu.com"><span>添加</span></a>|<a href="http://csdn.com"><span>删除</span></a></div>';
                // Image tag (preview in Wookmark are 200px wide, so we calculate the height based on that).
                html += '<img class="show-img" src="' + image.preview + '">';
                // Image title.
                var interactInfo = '<div class="interact-info"><div class="interact-data"><i class="fa fa-heart" style="color: red"/> 533 <i class="fa fa-comments" style="color: mediumseagreen"/> 123</div><div class="interact-users"><img class="img-circle" src="//ae01.alicdn.com/kf/UTB8EgHRbGrFXKJk43Ovq6ybnpXaV.jpg_50x50.jpg" alt="头像"/><img class="img-circle" src="//ae01.alicdn.com/kf/UTB8EgHRbGrFXKJk43Ovq6ybnpXaV.jpg_50x50.jpg" alt="头像"/><img class="img-circle" src="//ae01.alicdn.com/kf/UTB8EgHRbGrFXKJk43Ovq6ybnpXaV.jpg_50x50.jpg" alt="头像"/></div></div>';
                var showContent = '<div class="show-info"><div class="user-info"><i class="fa fa-certificate" style="color: lightblue"/></div><div class="show-content">' + image.title + '</div></div>';

                html += interactInfo + showContent;
                html += '</li>';
            }
            if (firstLoad) {
                $(container).append(html);
                imagesLoaded(container, function () {
                    $grid = $('#container').masonry(options)
                });
                firstLoad = false;
            } else {
                // wrap content in jQuery object
                var $content = $(html);
                // add jQuery object
                imagesLoaded(container, function () {
                    $grid.append($content).masonry('appended', $content);
                });
            }
        };
        // Capture scroll event.
        $(document).bind('scroll', onScroll);
        // Load first data from the API.
        loadData();
    })(jQuery);


</script>

</body>
</html>