<div th:fragment="copy">
    <div class="container">
        <nav class="header navbar-fixed-top">
            <ul>
                <li>
                    <a href="#">
                        <div class="logo">
                            <img src="images/logo-lrsy-edit.png"></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="header-menu-left">左侧菜单</div>
                    </a>
                </li>
                <li>
                    <div class="header-search-bar">
                        <input type="text" class="form-control header-search-input" placeholder="想什么,搜一下吧..."/>
                        <input type="button" class="btn btn-info header-search-btn" value="搜索"></div>
                </li>
                <li>
                    <div class="header-menu-right btn-group">
                        <button type="button" class="btn btn-info header-login-btn">登录</button>
                        <button type="button" class="btn btn-default header-signin-btn">注册</button>
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div class="hidden" id="login-content" th:include="fragments/login::copy">
    </div>
</div>