<div th:fragment="copy">
    <div class="header navbar-fixed-top">
        <div class="logo">
            <img src="images/logo-lrsy-edit.png">
        </div>
        <div class="header-menu-left">
            左侧菜单
        </div>
        <div class="header-search-bar">
            搜索框-带as
        </div>
        <div class="header-menu-right">
            <span class="header-login">
                登录
            </span>
            <span class="header-signin">
                注册
            </span>
        </div>
    </div>
</div>