<div th:fragment="copy">
    <div class="container signin-content">
        <div class="signin-inner-content">
            <div class="signin-header">
                <div class="signin-text">会员注册</div>
                <div class="no-account-text">已有账号? <a href="javascript:showLogin();">立即登录</a></div>
            </div>
            <form id="signin-form" method="post" data-validator-option="{theme:'yellow_top'}">
                <div class="form-group">
                    <input type="email" class="form-control" name="id" placeholder="用户名" required
                           data-rule="用户名:required;length(2~12)">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="pwd" placeholder="密码"
                           data-rule="密码:required;length(5~20)">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="pwd2" placeholder="密码确认"
                           data-rule="密码确认:required;length(5~20);match(pwd);">
                </div>
                <div class="login-bottom checkbox">
                    <button type="submit" class="btn btn-primary signin-btn">立即注册</button>
                </div>
            </form>
            <div class="third-login">
                <div class="third-login-text">使用第三方账号直接登录</div>
                <div class="third-login-btn">
                    <button class="btn btn-large btn-danger weibo-btn" type="button">微博账号登录</button>
                    <button class="btn btn-large btn-info qq-btn" type="button">QQ账号登录</button>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        var layerSignIn = undefined;
        $(document).ready(function () {
            $(".header-signin-btn").click(function () {
                layui.use('layer', function () {
                    layerSignIn = layui.layer;
                    layerSignIn.open({
                        type: 1,
                        skin: 'layui-layer-rim', //加上边框
                        shadeClose: true, //开启遮罩关闭
                        anim: 1,
                        closeBtn: 0,
                        title: false,
                        area: '380px',
                        content: $('.signin-content').html()
                    });
                    $('.signin-content').empty();
                })
            });
        });

        function showLogin() {
            layerSignIn.closeAll();
            $('.header-login-btn').click();
        }
    </script>
</div>