.header {
    width: 100%;
    height: 65px;
    text-align: center;
    line-height: 65px;
    background-color: white;
    border-bottom: 1px solid #e1e1e1;
    -webkit-box-shadow: 0 2px 2px 0 rgba(216, 216, 216, .1), 0 1px 0 0 rgba(216, 216, 216, .1);
    -moz-box-shadow: 0 2px 2px 0 rgba(216, 216, 216, .1), 0 1px 0 0 rgba(216, 216, 216, .1);
    box-shadow: 0 2px 2px 0 rgba(216, 216, 216, .1), 0 1px 0 0 rgba(216, 216, 216, .1);
}

.header div {
    height: 65px;
}

.logo {
    margin-left: 5%;
    width: 152px;
    float: left;
}

/**
左侧菜单
 */
.header-menu-left {
    width: 150px;
    float: left;
}

/**
搜索框
 */
.header-search-bar {
    width: 30%;
    float: left;
}

.header-search-input {
    height: 40px;
    margin-top: 12.5px;
    width: 70%;
    float: left;
}

.header-search-btn {
    height: 40px;
    margin-top: 12.5px;
    float: left;
    margin-left: 10px;
}

.header-menu-right {
    float: right;
    width: 150px;
}

/**
右侧菜单
 */
.header-menu-right {
    padding-top: 12.5px;
}

/**
login
 */
.login-content {
    width: 30%;
}

.login-inner-content {
    margin: 10px 20px;
}