.show-container {
    margin: 0 auto;
}

.show, .grid-sizer, .show-menu {
    width: 226px;
}

.grid-sizer {
    margin-bottom: 20px;
}

.show img {
    width: 100%;
}

/**
 * Grid items
 */
.show {
    padding: 0px;
    border-width: 0px;
    list-style-type: none;
    cursor: pointer;
    text-align: center;
    position: relative; /*与.show-menu position: absolute配合,使菜单固定*/
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.show .show-img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.show:hover {
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.4);
    background-color: #fafafa;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

/**
menu
*/
.show-menu {
    display: none;
    border-radius: 3px;
    position: absolute;
    background: #b3b3b3;
    filter: alpha(Opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.show:hover > .show-menu {
    display: block;
}

.show-menu span {
    width: 50px;
    font-size: 22px;
    text-align: center;
}

/**
interact-users
 */

.interact-info {
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: 1px solid #F0F0F0;
    height: 50px;
    line-height: 50px; /*垂直居中*/
}

.interact-data {
    width: 100px;
    float: left;
}

.interact-users {
    height: 50px;
    width: 100px;
    float: right;
}

.show .interact-users img {
    width: 25px;
    height: 25px;
    line-height: 50px;
    float: right;
    margin-right: 5px;
    margin-top: 12px;
}

/**
users
 */

.user-info {
    height: 50px;
    margin: 10px auto;
    padding: 0 10px 0 10px;
}

.show .user-info img {
    height: 50px;
    width: 50px;
    float: left;
}

.show .interact-users img {
    width: 25px;
    height: 25px;
    line-height: 50px;
    float: right;
    margin-right: 5px;
    margin-top: 12px;
}

.nickname {
    height: 50px;
    line-height: 50px;
    text-align: left;
    width: 140px;
    float: right;
}

.nickname a {
    font-size: 18px;
    font-weight: normal;
    color: red;
}

.nickname a:hover {
    text-decoration: underline;
    color: #46b8da;
}

/**
show-content
 */
.show-content {
    margin: 0 10px 20px 10px;
}

.showmore {
    font-size: 14px;
}