#container li {
    padding: 0px;
    border-width: 0px;
}

.tiles-wrap li {
    width: 226px;
}

.tiles-wrap li img {
    width: 226px;
}

.interact-info {
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: 1px solid #F0F0F0;
    height: 50px;
    line-height: 50px; /*垂直居中*/
}

.interact-data {
    width: 100px;
    float: left;
}

.interact-users {
    height: 50px;
    width: 100px;
    float: right;
}

.tiles-wrap li .interact-users img {
    width: 25px;
    height: 25px;
    line-height: 50px;
    float: right;
    margin-right: 5px;
    margin-top: 12px;
}

/**
 * Grid items
 */
.tiles-wrap li {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tiles-wrap li .show-img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tiles-wrap li:hover {
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.4);
}

.show-menu {
    display: none;
    border-radius: 3px;
    position: fixed;
    width: 226px;
    background: #b3b3b3;
    filter: alpha(Opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.tiles-wrap li:hover > .show-menu {
    display: block;
}

.show-menu span {
    width: 50px;
    font-size: 22px;
    text-align: center;
}
