<div class="detail-shadow">
    <div class="navbar-fixed-top detail-menu none-top-border-radius">
        <a href="#show-detail-pic-anchor" class="a-anchor">
            <div class="detail-menu-btn detail-menu-pic-btn dm-first-btn">
                照片
            </div>
        </a>
        <a href="#show-detail-eval-anchor" class="a-anchor">
            <div class="detail-menu-btn detail-menu-eval-btn">
                买家说
            </div>
        </a>
        <a href="#show-detail-product-anchor" class="a-anchor">
            <div class="detail-menu-btn detail-menu-product-btn">
                商品信息
            </div>
        </a>
        <a href="#show-detail-msg-anchor" class="a-anchor">
            <div class="detail-menu-btn detail-menu-msg-btn">
                评论
            </div>
        </a>
        <a href="#">
            <div class="detail-menu-btn detail-menu-share-btn">
                分享
            </div>
        </a>
        <a th:href="${detail.productUrl}" target="_blank">
            <div class="detail-menu-btn detail-menu-origin-btn">
                跳转商品
            </div>
        </a>
    </div>
    <div class="show-detail-content none-top-border-radius">
        <div id="show-detail-pic-anchor">
            <a th:href="${detail.productUrl}" target="_blank">
                <img th:each="pic : ${detail.getPicUrls()}" th:src="${pic}" class="img-rounded"/>
            </a>
        </div>
        <div id="show-detail-eval-anchor" class="show-detail-content-inner">
            PS:<br>
            <span th:text="${detail.content}"></span>
        </div>
    </div>
</div>
<div class="show-detail-transparent"></div>

<div id="show-detail-product-anchor" class="show-detail-product-info all-border-radius detail-shadow">
    商品信息:
</div>

<div class="show-detail-transparent"></div>

<div id="show-detail-msg-anchor" class="show-detail-product-msg all-border-radius detail-shadow">
    留言:
</div>

<script type="application/javascript">
    function restDetailMenuWidth() {
        //重置detail菜单宽度和位置
        var showDetailWidth = $('.show-detail').width();
        var paddingLeft = parseInt($('.show-detail').css('paddingLeft'));
        var marginLeft = parseInt($('.show-detail').css('marginLeft'));
        var menuMarginLeft = marginLeft + paddingLeft;
        $('.detail-menu').css('marginLeft', menuMarginLeft + 1);
        $('.detail-menu').width(showDetailWidth);
    }

    $(document).ready(function () {
        $("a.a-anchor").click(function () {
            var topValue = $($(this).attr("href")).offset().top;
            //alert(topValue);
            $('.show-detail').animate({
                scrollTop: topValue + "px"
            }, {
                duration: 500,
                easing: "swing"
            });
            return true;
        });
    });

    restDetailMenuWidth();
    $('.detail-menu').css('marginTop', detailMarginTop);
</script>