<div class="detail-menu detail-shadow">
    各种菜单....
</div>
<div class="show-detail-content none-top-border-radius detail-shadow">
    <a th:href="${detail.productUrl}" target="_blank">
        <img th:each="pic : ${detail.getPicUrls()}" th:src="${pic}" class="img-rounded"/>
    </a>
    <div class="show-detail-content-inner">
        PS:<br>
        <span th:text="${detail.content}"></span>
    </div>
</div>

<div class="show-detail-transparent"></div>

<div class="show-detail-product-info all-border-radius detail-shadow">
    商品信息:
</div>

<div class="show-detail-transparent"></div>

<div class="show-detail-product-msg all-border-radius detail-shadow">
    留言:
</div>