<!doctype html>
<html lang="zh-CN">
<head th:include="fragments/head::copy"></head>
<body>

<div th:include="fragments/header::copy"></div>

<div th:include="fragments/index-top-banner::copy"></div>

<div th:include="fragments/nav::copy"></div>

<div class="show-container"></div>

<div id="loader">
    <div id="loaderCircle" class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<div th:include="fragments/main-js::copy"></div>

</body>
</html>