<!doctype html>
<html lang="zh-CN">
<head th:include="fragments/head::copy">

</head>

<body>

<div class="show-container">
</div>


<div id="loader">
    <div id="loaderCircle" class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="js/masonry/masonry.pkgd.min.js"></script>
<script src="js/jqueryplugins/jquery.collapser.min.js"></script>
<script src="layui/layui.js"></script>
<script src="js/jqueryplugins/jquery.debouncedresize.js"></script>
<script src="js/jqueryplugins/jquery.flexText.min.js"></script>
<script src="js/waterfall-div.js"></script>
</body>
</html>